{% extends "main.html" %}
{% block rfw1_active %}active{% endblock %}
{% block title %}Robfather World 1{% endblock %}
{% load static %}
{% load home_tags %}

{% block head %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/mediaelement/4.2.9/mediaelementplayer.css" />
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/mediaelement/4.2.9/mediaelement-and-player.js"></script>
{% endblock %}

{% block body %}
    <div class="row my-2">
        <div class="col-lg-12">
            <div class="text-center">
                <h3>Robfather World 1</h3>

                <div style="margin: 10px auto; max-width: 480px;">
                    <video autoplay loop muted id="video-player" class="mejs__player" preload="auto"
                           src="//imgg.site/f/20190718-012839206.mp4"
                           style="max-width:100%; width:100%;" ></video>
                    <script type="text/javascript">
                        var player = new MediaElementPlayer('video-player', {
                            success: function(mediaElement, originalNode) {
                                console.log("Loaded MediaElementPlayer");
                            }
                        });
                    </script>
                </div>

                <p>Are you having trouble breaking into Kaizo? Robfather world centers around intermediate platforming with small sprinkles of kaizo, allowing you to work on your dexterity and practice for the big titles..</p>

                <p>Play as Robfather, who vows to destroy his sworn enemy - the munchers - before they destroy him first..</p>

                <p>Enjoy a 100% original soundtrack to go along with this beginner light-kaizo.</p>
            </div>
        </div>
    </div>

{% endblock %}

{% block tail %}
{% endblock %}
