{% extends "main.html" %}
{% block rfw2_active %}active{% endblock %}
{% block title %}Robfather World 2{% endblock %}
{% load static %}
{% load home_tags %}

{% block head %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/mediaelement/4.2.9/mediaelementplayer.css" />
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/mediaelement/4.2.9/mediaelement-and-player.js"></script>
{% endblock %}

{% block body %}
    <div class="row my-2">
        <div class="col-lg-12">
            <div class="text-center">
                <h3>Robfather World 2</h3>

                <div style="margin: 10px auto; max-width: 480px;">
                    <video autoplay loop muted id="video-player" class="mejs__player" preload="auto"
                           src="//imgg.site/f/20190718-012839206.mp4"
                           style="max-width:100%; width:100%;" ></video>
                    <script type="text/javascript">
                        var player = new MediaElementPlayer('video-player', {
                            success: function(mediaElement, originalNode) {
                                console.log("Loaded MediaElementPlayer");
                            }
                        });
                    </script>
                </div>

                <p>If you have already knocked out all of the "easy" kaizo hacks, you're probably ready to move onto the intermediate difficulty. Robfather World 2 has the goal of giving you the courage to take on hacks such as Akogare World, Korosu World, Ryu World, and more. Robfather World 2 is currently in development and has a goal release date of September 1st. </p>

            </div>
        </div>
    </div>

{% endblock %}

{% block tail %}
{% endblock %}
