{% extends "main.html" %}
{% block speedruns_active %}active{% endblock %}
{% block title %}Robfather Speedruns{% endblock %}
{% load static %}
{% load home_tags %}

{% block head %}
{% endblock %}

{% block body %}
    <div class="row my-2">
        <div class="col">

            <div class="text-center">
                <h3>Robfather Speedruns</h3>
            </div>

            <p class="lead">Some of the best and most interesting speedruns from the Robfather series by various Twitch streamers and speedrunners. </p>

            {% for video in videos %}
                {% include 'videos/video.html' with video=video %}
            {% endfor %}

        </div>
    </div>

{% endblock %}

{% block tail %}
{% endblock %}
