{% extends "main.html" %}
{% block about_active %}active{% endblock %}
{% block title %}About{% endblock %}
{% load static %}
{% load home_tags %}

{% block head %}
{% endblock %}

{% block body %}
    <div class="row my-2">
        <div class="col-lg-12">
            <div class="text-center">

                <h3>About Robfather World</h3>
                <img src="{% static 'images/logo.png' %}" class="float-left mr-2 mb-2" height="56" width="56">
                <p>Are you ready to dive into the world of Kaizo hacks, but you're intimidated by how hard they look? Robfather World is designed to be the second-half to Learn 2 Kaizo, focusing heavily on platforming instead of raw kaizo tricks. Robfather World allows you to execute tricks in a forgiving environment to give you the courage to move onto the first wave of kaizo hacks. After Robfather World, I recommend playing Quickie World 1, Quickie World 2, and Baby Kaizo World.</p>
                <p>If you have already knocked out all of the "easy" kaizo hacks, you're probably ready to move onto the intermediate difficulty. Robfather World 2 has the goal of giving you the courage to take on hacks such as Akogare World, Korosu World, Ryu World, and more. Robfather World 2 is currently in development and has a goal release date of September 1st.</p>


                <h3>About DanOfMostTrades</h3>
                <img src="{% static 'images/assets/dan/cubeOhNo.png' %}" class="float-left mr-2 mb-2">
                <p>SMW ROM hacks let me combine all of my passions into one. Seriously! Graphics, music, story, level design, and programming. I wanted to make video games ever since I was little. I'm incredibly thankful to smwcentral community, who has developed tools to make level creation so much easier. I also can't believe how nice everyone is in the SMW community. It's thanks to the players' feedback and support that turn my ideas into actual gameplay. I love all of you! Kaizo is the friends we meet along the way, as well as endless suffering and turmoil and... oh sorry I blacked out for a moment there. Anyway, I hope you have fun playing these hacks!</p>

            </div>
        </div>
    </div>

{% endblock %}

{% block tail %}
{% endblock %}
