{% extends "main.html" %}
{% block home_active %}active{% endblock %}
{% block title %}Home{% endblock %}
{% load static %}
{% load home_tags %}

{% block head %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/mediaelement/4.2.9/mediaelementplayer.css" />
    <link href="{% static 'main/css/home.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="row mt-2 mb-2">
        <div class="col">
            <div class="text-center">

                <h1>Robfather World</h1>

                <div style="margin: 10px auto; max-width: 480px;">
                    <video autoplay loop muted id="video-player" class="mejs__player" preload="auto"
                           src="//imgg.site/f/20190718-012839206.mp4"
                           style="max-width:100%; width:100%;" ></video>
                    <script type="text/javascript">
                        var player = new MediaElementPlayer('video-player', {
                            success: function(mediaElement, originalNode) {
                                console.log("Video Player initialised");
                            }
                        });
                    </script>
                </div>

                <h5>Website Coming Soon...</h5>

                <a href="https://www.smwcentral.net/?p=section&a=details&id=20190"
                   class="btn btn-primary" target="_blank">View at SMW Central</a>

            </div>
        </div>
    </div>

{% endblock %}

{% block tail %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/mediaelement/4.2.9/mediaelement-and-player.js"></script>
    <script type="text/javascript" src="{% static 'main/js/home.js' %}"></script>
{% endblock %}
