{% load staticfiles %}
{% load home_tags %}

<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<meta name="author" content="Shane"/>
	<meta name="title" content="Robfather World"/>
	<meta name="description" content="Robfather World is a Super Mario World Kaizo ROM hack series bridging the gaps between beginner and intermediate Kaizo difficulties, also known as Kaizo: Light."/>

    <meta name="robots" content="noindex">

	<meta property="og:author" content="Shane">
	<meta property="og:title" content="Robfather World">
	<meta property="og:description" content="Robfather World is a Super Mario World Kaizo ROM hack series bridging the gaps between beginner and intermediate Kaizo difficulties, also known as Kaizo: Light.">
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://{{ request.META.HTTP_HOST }}{% url 'home:index' %}">
    <meta property="og:image" content="https://{{ request.META.HTTP_HOST }}{% static 'images/logo.png' %}">
	<meta property="og:image:type" content="image/png">

	<title>Robfather World - {% block title %}{% endblock %}</title>

    <link rel="icon" href="{% static 'images/favicon.ico' %}">

	<link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'font-awesome/css/all.min.css' %}" rel="stylesheet">
	<link href="{% static 'main/css/main.css' %}" rel="stylesheet">

	{% block head %}{% endblock %}
</head>
<body>

<div class="container">

    {% block menu %}
        <nav class="navbar navbar-expand-md navbar-dark bg-dark mt-2">
            {#<a class="navbar-brand" href="{% url 'home:index' %}">RFW</a>#}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain"
                    aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarMain">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item {% block home_active %}{% endblock %}">
                        <a class="nav-link" href="{% url 'home:index' %}">Home</a>
                    </li>

                    <li class="nav-item {% block about_active %}{% endblock %}">
                        <a class="nav-link" href="{% url 'home:about' %}">About</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownRobfather" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Robfather World
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownRobfather">
                            <a class="dropdown-item {% block rfw1_active %}{% endblock %}" href="{% url 'home:rfw1' %}">Robfather World 1</a>
                            <a class="dropdown-item {% block rfw2_active%}{% endblock %}" href="{% url 'home:rfw2' %}">Robfather World 2</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownVideos" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Videos
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownVideos">
                            <a class="dropdown-item {% block tutorials_active %}{% endblock %}" href="{% url 'videos:tutorials' %}">Lunar Magic Tutorials</a>
                            <a class="dropdown-item {% block speedruns_active %}{% endblock %}" href="{% url 'videos:speedruns' %}">Robfather Speedruns</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item {% block livestreams_active %}{% endblock %}" href="{% url 'videos:livestreams' %}">Twitch Live Streams</a>
                        </div>
                    </li>
                </ul>

                {% if not request.user.is_authenticated %}
                    <a href="{% url 'oauth:login' %}?next={{ request.path }}" class="btn btn-outline-info" role="button">
                        Log in with Twitch
                        <i class="fas fa-sign-in-alt"></i></a>
                {% else %}
                    <a href="https://www.twitch.tv/settings/profile" target="_blank" class="text-info mr-3">
                        {% if request.user.first_name %}{{ request.user.first_name }}{% else %}{{ request.user.username }}{% endif %}</a>
                    {% if user.is_staff %}
                        <a href="{% url 'admin:index' %}" class="btn btn-outline-warning mr-1" role="button">
                            Admin
                            <i class="fas fa-rocket"></i></a>
                    {% endif %}
                    <a href="" class="log-out btn btn-outline-info" role="button">
                        Log Out
                        <i class="fas fa-sign-out-alt"></i></a>
                {% endif %}
            </div>
        </nav>
    {% endblock %}

    {% block body %}{% endblock %}

    {% block footer %}
        {% include 'include/footer.html' %}
    {% endblock %}

</div>

{% if request.user.is_authenticated %}
    <form id="log-out" action="{% url 'oauth:logout' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.get_full_path }}">
    </form>
{% endif %}

<script type="text/javascript" src="{% static 'jquery/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'popper/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'font-awesome/js/all.min.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/main.js' %}"></script>

{% block tail %}{% endblock %}

</body>
</html>
